.container {
    display: inline-flex;
    align-items: baseline;
    flex-direction: row-reverse;
}

    .container.disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    .container.readonly {
        opacity: 0.5;
    }

.input {
    max-width: 3ch;
    text-align: center;
    box-sizing: content-box;
}

    .input:disabled {
        background-color: unset;
    }

.separator {
    font-weight: bold;
    margin: 0 2px;
}

.input.year {
    max-width: 6ch;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
