@page "/"
@using System.Globalization

<PageTitle>Home</PageTitle>

<p>
    Date and time persian: <DateTimeEdit @bind-Value="_currentDate" />
</p>
<p>
    Date and time gregorian: <DateTimeEdit @bind-Value="_currentDate" Calendar="_gregorianCalendar" />
</p>
<p>
    Date only:<DateTimeEdit @bind-Value="_currentDate" Mode="@DateTimeEdit.EditMode.DateOnly" />
</p>
<p>
    Time only: <DateTimeEdit @bind-Value="_currentDate" Mode="@DateTimeEdit.EditMode.TimeOnly" />
</p>
<p>
    disabled style: <DateTimeEdit @bind-Value="_currentDate" Disabled="true" />
</p>
<p>
    readonly style: <DateTimeEdit @bind-Value="_currentDate" Disabled="null" />
</p>
<p>You selected: @_currentDate?.ToString("yyyy/MM/dd HH:mm")</p>

@code {
    private DateTime? _currentDate;
    private readonly Calendar _gregorianCalendar = new GregorianCalendar();
}